.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .login-box,
.container .register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-top: 20px !important;
}

.button {
    margin-top: 20px !important;
    width: 100%;
}

.tips {
    margin-top: 20px;
    color: rgb(92, 91, 91);
}