.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.list {
    width: 88%;
    margin-top: 20px;
}

.item {
    margin-top: 13px;
    border-radius: 10px;
    background-color: #eee;
}

.list-container>h2 {
    padding: 10px;
    border-bottom: 2px solid rgb(63, 81, 181);
}